.search_parent{
    display: flex;
    width: 30%;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 7vh;
    margin: 2rem auto;
    padding: 5px;
    background-color: #2c8afb;
    border-radius: 5px;
    flex: 1;
    gap: 10px;
    
}
.search_parent input{
    height: 100%;
    width: 92%;
    border-radius: 5px;
    font-size: 16px;
    border: 2px solid white;
    outline: none;

}
.search_parent button{
    height: 99%;
    background-color: #2c8afb;
    border: none;
    color: white;

}
.information{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: auto;
}
.info_first{
    display: flex;
    width: 49%;
    justify-content: space-between;
    
}
.info_first p{
    font-weight: bold;
}
.info_first li{
    list-style: none;
    line-height: 30px;
}
.info_second{
    width: 49%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    line-height: 44px;

}

.populer_search{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}
.populer_search div{
    background-color: white;
    border-radius: 4px;
    padding: 4px;
}

@media screen and (max-width:768px) {
    #populer{
        display: none;
    }
    .information{
        justify-content: space-between;
        margin: auto;
    }
    .apps img{
        height: 130px;
        width: 200px;
    }
    .email{
        line-height: 25px;
    }
    .info_second{
        display: block;
    }
}