.search_parent{
    display: flex;
    width: 30%;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 4.7vh;
    margin: 2rem auto;
    padding: 5px;
    background-color: #2c8afb;
    border-radius: 5px;
    flex: 1;
    
}
.search_parent input{
    height: 100%;
    width: 92%;
    border-radius: 5px;
    font-size: 13px;
    border: 2px solid white;
    outline: none;

}
.search_parent button{
    height: 99%;
    background-color: #2c8afb;
    border: none;
    color: white;

}
.information{
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: auto;
}
.info_first{
    display: flex;
    width: 49%;
}
.info_first p{
    font-weight: bold;
}
.info_first li{
    list-style: none;
    line-height: 30px;
}
.info_second{
    width: 49%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    line-height: 44px;

}

.populer_search{
    display: flex;
    gap: 20px;

}
.populer_search div{
    background-color: white;
    border-radius: 4px;
    padding: 4px;
}